defaults: &defaults
  working_directory: ~/repo
version: 2
jobs:
  build:
    <<: *defaults
    docker:
      - image: circleci/node:10.15.0
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-fallback
      - run:
          name: install
          command: yarn install
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - node_modules
      - run:
          name: lint
          command: yarn lint
      - run:
          name: build
          command: yarn clean && yarn dist
      - persist_to_workspace:
          root: ./
          paths:
            - dist
            - node_modules
            - package.json
            - yarn.lock
  deploy:
    <<: *defaults
    docker:
      - image: circleci/node:10.15.0
    steps:
      - attach_workspace:
          at: ./
      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc
      - run:
          name: Publish package
          command: npm publish
      - run:
          name: Purge cdn cache
          command: yarn purge-cdn
workflows:
  version: 2
  build:
    jobs:
      - build
  deploy:
    jobs:
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /^v[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
